html{
    min-height:fit-content;
    min-width: fit-content;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color:#065a59;
    text-emphasis-color: white;
    margin: 0;
    padding: 0;
}

header {
    color: floralwhite;
    background-color: #3c9997;
    text-shadow: white;
    padding: 2rem;
    text-align: center;
}
ul{
    list-style-type: none;
    align-items:;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

section{
    padding: 50px;
    color: white;
    text-align: center;
}
image{
    align-items: center;
}

h1, h2, h3 {
    color:#5fdefd;
}

.project-card {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label, input, textarea {
    margin-bottom: 10px;
}
footer {
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding:5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

